:root {
    --Cor-Principal: #F1C0B9;
    --cor-rosaforte: #F47387;
    --cor-branca: #FFFFFF;
    --cor-marrom: #30110E;
    --cor-marromclaro: #AF686E;
    --COR-PRETA: black;
    --cor-listabolo-letras: #664747;
    --cor-preco: #FFD2D7;
}

* {
    margin: 0%;
    padding: 0%;
    transition: 0.2s linear;
    text-decoration: none;
    font-family: "Inter", sans-serif;

}

body {
    background-color: var(--Cor-Principal);

}

.header__section {
    padding: 1rem 1rem;
    margin: 0 auto;



}

.header {
    background-color: var(--cor-rosaforte);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-radius: 0% 0% 40px 40px;

}

.header img {
    margin-top: 0;
}

.header__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0rem;
    padding-bottom: 1.5rem;

}

.nav a {
    margin: 0 1rem;
    font-size: 1.1rem;
    color: var(--cor-branca);

}

.nav a:hover {
    color: var(--Cor-Principal);
    border-bottom: 0.1rem solid var(--Cor-Principal);
    padding-bottom: 0.5rem;
    font-size: 1rem;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 36px;
    height: 36px;
    transition: 0.2s linear;
}

.lupa {
    width: 35px;
    height: 35px;
}

.botao {
    background-color: var(--Cor-Principal);
    color: var(--COR-PRETA);
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 2rem;
    border-radius: 0.5rem;
    display: inline-block;


}

.botao:hover {
    border-bottom: 0.1rem solid var(--Cor-Principal);
    padding-bottom: 0.5rem;
    font-size: 1.03rem;
}

.bota {
    background-color: var(--cor-marromclaro);
    color: var(--cor-branca);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;


}

.bota:hover {

    padding-bottom: 0.5rem;
    font-size: 1.03rem;

}



.home-container {
    background-image: url("img/bolos-e-doces-em-exposição-em-uma-vitrine-em-paris.png");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 75vh;

}

.conteudo {
    max-width: 60rem;
    margin-left: 112px;

}

.conteudo h2 {
    color: var(--cor-branca);
    font-size: 4rem;



}

.conteudo h3 {
    color: var(--cor-branca);
    font-size: 2.5rem;


}

.conteudo p {
    color: var(--cor-branca);
    font-size: 0.9rem;


}

.cardapio {

    background: linear-gradient(#F8E9E9, #FBCFCF);

    margin-top: 5rem;
    border-radius: 50px;
    height: 1180px;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.cardapio h2 {
    font-size: 3rem;
    font-family: "Jacques Francois", serif;
    text-align: center;
    padding: 3.7rem;
}



.cardapio__bolo {

    background-color: var(--cor-preco);
    margin-left: 50px;
    border-radius: 50px;
    width: 505px;
    height: 295px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}



.titulo__bolo {
    text-align: center;
    color: var(--cor-listabolo-letras);
    justify-content: space-between;
    padding: 1.5rem;
    gap: 10rem;
    display: flex;
    font-size: 2rem;
    font-family: "Jacques Francois", serif;




}


.titulo__bolo h4 {

    font-family: "Jacques Francois", serif;



}

.lista__bolos {
    padding: 20px;

}

.item {
    display: flex;
    justify-content: space-between;
    padding: 0.1rem 5px;
    font-weight: 600;
    color: var(--cor-listabolo-letras);
}

.bolos {
    display: flex;

    gap: 20rem;
    margin-left: 5rem;



}

.cardapio__bolo {
    flex-wrap: wrap;
}

.cardapio__docinhos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 3rem;
}

.cento__docinhos {
    background-color: var(--cor-preco);
    border-radius: 30px;
    width: 450px;
    height: 150px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    right: 30rem;
    position: relative;


}

.titulo__docinhos {
    display: block;
    justify-content: space-between;
    text-align: center;

    margin-top: 1rem;
    padding: 0 2rem;
}

.titulo__docinhos h4 {
    font-family: "Jacques Francois", serif;
    font-size: 1.5rem;
    color: var(--cor-listabolo-letras);
}

.titulo__docinhos h5 {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--cor-listabolo-letras);
    font-weight: 500;
    font-family: "Inter", sans-serif;
}

.docinhos__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    align-items: center;
    gap: 2rem;
    left: 11rem;
    position: relative;


}

.docinhos__container img {
    padding: 4px 4px;
    gap: 2px;
}



.footer__section {
    background-color: var(--cor-rosaforte);
    color: var(--cor-branca);
    height: 185px;
    font-family: 'Inter', sans-serif;
    margin-top: 55px;
    border-radius: 40px 40px 0% 0%;

}

.footer__logo {
    display: flex;
    align-items: flex-start;

}


.logo__footer img {
    transform: translate(65px, 35px);
}

.footer__titulo {
    transform: translate(130px, 40px);


}




.footer__titulo li {
    margin-bottom: 6px;
    text-decoration: none;
    list-style: none;

}

.footer__titulo a {
    color: var(--cor-branca);
}

.footer__titulo li:hover {
    color: var(--Cor-Principal);
    padding-bottom: 0.2rem;
    font-size: 1.4rem;
    transition: 0.2s linear;

}

.linha {
    width: 1px;
    height: 139px;
    background-color: var(--cor-branca);
    margin: 0 20px;
    transform: translate(500px, -60px);
    display: flex;
    justify-content: space-between;

}

.footer__social {
    transform: translate(700px, -200px);


}

.logo__facebook {
    display: flex;
    margin-top: 1.5rem;
    transform: translate(-100px);

}


.logo__facebook p {
    padding: 5px 4px;

}

.logo__inst {
    transform: translate(-98px);
    display: flex;
}

.logo__inst p {
    padding: 5px 7px;


}

.logo__inst a {
    color: var(--cor-branca);

}


.linha__right {
    width: 1px;
    height: 139px;
    background-color: var(--cor-branca);
    margin: 0 20px;
    transform: translate(1100px, -310px);
    display: flex;
    justify-content: space-between;

}

.logo__whats {
    transform: translate(1250px, -430px);
    display: flex;
}

.logo__whats p {
    padding: 7px 10px;
}

.logo__whats a {
    color: var(--cor-branca);
}

.footer__copy {
    text-align: end;
    transform: translate(0px, -358px);

}

@media screen and (max-width: 992px) {

    .header {
        position: relative;
    }

    .header__section {
        padding: 1rem;
        gap: 1.5rem;
    }

    .logo img {
        width: 100px;
    }

    .nav {
        gap: 1.5rem;
        order: 3;
        width: 100%;
        margin-top: 1rem;
        justify-content: space-between;
    }

    .nav a {
        font-size: 1rem;
    }

    .icons {
        justify-items: center;
        gap: 0.8rem;
    }

    .icons img {

        width: 28px;
        height: 28px;
    }

    .conteudo {
        margin-left: 50px;
        text-align: center;
    }

    .conteudo h2 {
        font-size: 3rem;
    }

    .conteudo h3 {
        font-size: 2rem;
    }

    .cardapio {
        margin: 5rem 2rem;
        height: auto;
        padding-bottom: 2rem;
    }

    .bolos {
        flex-direction: column;
        gap: 2rem;
        margin-left: 0;
        align-items: center;
    }

    .cardapio__bolo {
        width: 90%;
        margin-left: 0;
    }


    .docinhos__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);



        gap: 0.4rem;
    }

    .item__docinhos img {
        max-width: 125px;
        align-items: center;

    }

    .cento__docinhos {
        width: 450px;
        height: 140px;
        margin: 2.5rem auto;
    }

    .titulo__docinhos {
        display: block;
        text-align: center;

    }

    .titulo__docinhos h4 {
        font-size: 1.8rem;

    }

    .titulo__docinhos h5 {
        font-size: 1.6rem;
        font-family: "Inter", sans-serif;
    }

    .footer__section {
        height: auto;
        padding: 2rem;
    }

    .footer__logo {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .logo__footer img {
        transform: none;
    }

    .footer__titulo {
        transform: none;
        display: flex;
        gap: 2rem;
    }

    .linha {
        display: none;
    }

    .footer__social {
        transform: none;
        text-align: center;
        margin-top: 2rem;

    }

    .linha__right {
        display: none;
    }

    .logo__facebook,
    .logo__inst {
        transform: none;
        display: inline-flex;
        justify-content: center;
        margin: 0.5rem 1rem;
    }

    .logo__whats {
        transform: none;
        justify-content: center;
        margin-top: 2rem;
    }

    .footer__copy {
        transform: none;
        text-align: center;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .header__section {

        flex-wrap: wrap;
        padding: 0.8rem;
    }

    .nav a {
        margin: 0 0.5rem;
        font-size: 1rem;
    }

    .conteudo {
        margin-left: 20px;
        margin-right: 20px;
    }

    .conteudo h2 {
        font-size: 2.5rem;
    }

    .conteudo h3 {
        font-size: 1.5rem;
    }

    .cardapio {
        margin: 5rem auto;

        border-radius: 30px;
    }

    .cardapio h2 {
        font-size: 2.5rem;
        padding: 2rem;
    }

    .titulo__bolo {
        font-size: 20px;
        gap: 0.5rem;
    }

    .lista__bolos {
        font-size: 15px;
    }

    .docinhos__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        margin-left: 80px;
        position: relative;

    }

    .item__docinhos img {
        width: 75px;
        height: 75px;
    }

    .cento__docinhos {

        width: 280px;
        height: 130px;
        margin: 2rem auto;
        border-radius: 30px;
    }

    .titulo__docinhos {
        display: block;
        text-align: center;
        padding: 0 1rem;
    }

    .titulo__docinhos h4 {
        font-size: 1.6rem;


    }

    .titulo__docinhos h5 {
        font-size: 1.2rem;
        font-family: "Inter", sans-serif;

    }



    .footer__titulo {

        gap: 0.6rem;
    }

    .footer__titulo:hover {
        font-size: 1rem;
    }

    .footer__social h3 {
        font-size: 1rem;
    }

    .logo__facebook,
    .logo__inst {
        margin: 0.5rem 0.5rem;
    }

    .logo__facebook p,
    .logo__inst p,
    .logo__whats p {
        font-size: 0.9rem;
    }

}